.wrapper {
  display: grid;
  overflow: hidden;
  grid-template-rows: 0fr;
  transition-property: grid-template-rows, opacity;
  transition-duration: 300ms;
  opacity: 0;

  &.open {
    opacity: 1;
    grid-template-rows: 1fr;
  }
}

.content {
  min-height: 0;
}
