.accordion {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.toggleButton {
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s;
  padding: 4px;
  margin-inline-start: -4px;

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.3);
  }
}
