.shimmer {
  animation: shimmer ease-in-out 1s infinite both alternate;
  height: 100%;
  width: 100%;
}

@keyframes shimmer {
  from {
    background-color: rgba($color: #000000, $alpha: 0.2);
  }

  to {
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
}
