.label {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.animate {
  animation: label-wriggle 1000ms both;
  will-change: scale;
}

@keyframes label-wriggle {
  0% {
    scale: 1;
  }

  25%,
  75% {
    scale: 1.25;
  }

  100% {
    scale: 1;
  }
}
