.imageLoader {
  animation: image-loader-shimmer ease-in-out 0.5s infinite both alternate;
  height: 100%;
  width: 100%;
}

@keyframes image-loader-shimmer {
  from {
    background-color: lightslategrey;
  }

  to {
    background-color: slategrey;
  }
}
