.root {
  height: 600px;
  width: 100%;
  max-width: min(90svw, 100%);
  max-height: min(80svh, 300px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
}

.image {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
