.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100svh;
  width: 100svw;
  max-width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 16px 100px;
}

.upperToolbar {
  display: flex;
  margin-block-end: 16px;
  width: 100%;
  gap: 8px;
}

.lowerToolbar {
  display: flex;
  position: fixed;
  width: 100%;
  inset-block-end: 20px;
  max-width: 800px;
  padding: 0 16px;
  transform: translateX(-50%);
  inset-inline-start: 50%;
}

.exerciseInformation {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  overflow: hidden;
}
