.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100svh;
  width: 100svw;
  max-width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}

.toolbar {
  display: flex;
  // flex-direction: column;
  margin-block-end: 16px;
  width: 100%;
  gap: 8px;
}

.rerollButton {
  width: 100%;
}

.exerciseInformation {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  overflow: hidden;
}
